@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Cinzel+Decorative:wght@400;700&family=Merienda:wght@600&family=Open+Sans:wght@300&family=Roboto:wght@400;900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Cinzel+Decorative:wght@400;700&family=Open+Sans:wght@300&family=Roboto:wght@400;900&display=swap');

* {
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html {
    background-color: black;
    min-height: 100vh;
    width: auto;
    overflow-x: hidden;
}

.header, .background-horizontal {
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 80vh;
}

.background-horizontal {
    background: linear-gradient(to top, black 5%, transparent 95%);
    align-items: flex-start;
    justify-content: center;
    position: relative;
}

/* NAVEGAÇÃO */

.nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 25px;
    height: 80px;
    width: 100vw;
    position: fixed;
    transition: background-color 0.5s ease-in-out;
    z-index: 1;
    top: 0;
    left: 0;
}

.scrolled {
    background-color: black;
    transition: background-color 0.5s ease-in-out;
}

.nav--title-logo, h1 {
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.463);
    color: rgb(0, 0, 157);
}

.nav--foto-logo {
    border: 2px solid rgb(2, 2, 157);
}

/* BOX DE INFOMAÇÕES SOBRE FILMES */

.box-movie {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100vw;
    gap: 10px;
}

h1 {
    color: white;
}

.box-movie--info {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    gap: 13px;
    height: auto;
    width: auto;
}

.info, .h4 {
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    color: white;
}

#info--ponto {
    color: rgb(22, 116, 12);
}

#info--sinopse, #info--genero {
    color: rgba(255, 255, 255, 0.612);
    font-weight: normal;
    text-align: left;
    line-height: 1.5em;
    margin: 10px 0;
}

/* BOTÕES */ 

.box-movie--botton {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
}

.botton {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    padding: 5px;
    border: none;
    outline: none;
    border-radius: 5px;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.507);
}

#botton--list {
    background-color: rgb(0, 0, 157);
    color: white;
    }

#h4--black {
    color: black;
}

