
.header {
    background-size: cover;
    background-position: center center;
}

.header, .background-horizontal {
    height: 100vh;
}

.background-vertical {
    background: linear-gradient(to right, black, rgba(0, 0, 0, 0.367), transparent);
}

.nav {
    min-width: 800px;
}

.nav--title-logo {
    font-size: 2.1em;
}

.box-movie {
    padding-top: 30px;
    padding-left: 25px;
    justify-content: center;
}

h1 {
    font-size: 3.5em;
}

.info, .h4 {
    font-size: 1.3em;
}

#info--sinopse, #info--genero {
    width: 60vw;
    max-width: 780px;
}

.box-movie--botton {
    width: auto;
    height: auto;
}

.botton {
    height: 50px;
    width: 20vw;
    max-width: 200px;
}

#botton--play:hover {
    background-color: rgba(255, 255, 255, 0.604);
}

#botton--list:hover {
    background-color:  rgba(0, 0, 157, 0.659);
}

/* BARRA DE PESQUISA */

.botton-search {
    font-size: 1.2em;
    height: 50px;
    width: 50px;
}