
* {
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html {
    background-color: black;
    color:  white;
    min-height: 100vh;
    width: auto;
    overflow-x: hidden;
}

.body::-webkit-scrollbar {
    display: none;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 100vw;
    height: 80vh;
}

/* NAVEGAÇÃO */

.nav {
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 70px;
    width: 100vw;
    position: fixed;
    z-index: 2;
    top: 0;
    left: 0;
}

.scrolled {
    background-color: black;
    z-index: 2;
}

.nav--title-logo, .info {
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.463);
    color: white;
}

.material-symbols-outlined {
    font-size: 1.6em;
}

/* CARTAZ */ 

.box-cartaz {
    height: 60vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    gap: 10px;
}

.img-cartaz {
    background-color: black;
    margin-top: 20px;
    height: 400px;
    width: 300px;
}

.info {
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    color: white;
}

#info--ponto {
    color: rgb(22, 116, 12);
}

#info--sinopse, #view {
    color: rgba(255, 255, 255, 0.612);
    font-weight: normal;
    text-align: left;
    line-height: 1.5em;
    margin: 10px 0;
}

#view {
    border-radius: 30px;
    outline: 2px solid rgba(255, 255, 255, 0.612);
    color: rgba(255, 255, 255, 0.612);
    padding: 5px 10px;
    font-size: .9em;
}

/*  MAIN */

.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5px;
    height: auto;
    width: 100vw;
    margin-top: -10px;

}

#title-filme {
    font-size: 2em;
    text-align: start;
}

.box-movie--info {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 13px;
    height: auto;
    color: rgba(255, 255, 255, 0.612);
}

#ponto {
    color: rgb(22, 116, 12);
}

#ano, #language {
    color: rgba(255, 255, 255, 0.612);
}

.box-sinopse, .box-trailer{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    margin: 5px 0px;
}


#info--sinopse {
    padding: 0px;
    margin: 0;
    text-align: start;
}

.box-trailer {
    align-items: center;
    width: 96vw;
    height: auto;
    padding-left: 5px;
}

#title-trailer {
    text-align: start;
}

/* FOOTER */

.footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    height: auto;
    width: 90vw;
    margin: 30px 0px 40px 20px;

}

.paragrafo {
    color: white;
    text-decoration: none;
    text-align: center;
    font-weight: normal;
}


/* CSS SEARCH.HTML */ 

#header-search {
    min-height: 80px;
}

#nav-search {
    height: 75px;
}

.box-search {
    background-color: black;
    color: white;
    display: flex;
    align-items: center;
    gap: 10px;
    justify-content: center;
    border-radius: 25px;
    width: auto;
}

.botton-search {
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    border: none;
    outline: none;
    border-radius: 50%;
}

.input-search {
    height: 40px;
    width: 70vw;
    max-width: 500px;
    padding: 0px 5px;
    margin-left: 10px;
    text-align: left;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.1em;
    background-color: transparent;
    color: white;
    border: none;
    border-bottom: 1px solid rgba(255, 255, 255, 0.482);
    outline: none;
}

/* main */

.main-search {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 10px;
    gap: 15px 15px;
    height: auto;
    width: 90vw;
    margin: auto;
}
