
.box-title {
    padding-left: 40px;
    width: 100vw;
}

h2.title-section {
    font-size: 1.9em;
}

.botton-absoluto {
    position: absolute;
    top: 0;
    bottom: 0;
    text-align: center;
    background-color: transparent;
    color: white;
    border: none;
    outline: none;
    font-size: 2em;
    width: 50px;
    transform: scale(0.85);
    z-index: 1;
}

.botton-absoluto:hover {
    background-color: rgba(0, 0, 0, 0.584);
    transform: scale(1);
}

.material-symbols-outlined {
    font-size: 1.5em;
}

#botton-left {
    left: -3%;
}

#botton-right {
    left: 98%;
}

ul > li {
    width: 220px;
}

a > img {
    height: 300px;
    transform: scale(0.9);
}

a>img:hover {
    transform: scale(1);
}

/* FOOTER */

.paragrafo {
    font-size: 1.2em;
}