
.box-title {
    padding-left: 20px;
    width: 100vw;
}

.section-movie {
    gap: 5px;
}

h2.title-section {
    font-size: 1.5em;
}

ul.box-rolagem-lista {

    height: auto;
}

ul > li {
    width: 130px;
}

a > img {
    height: 200px;
    transform: scale(0.9);
}


.botton-absoluto {
    display: none;
}

/* FOOTER */

.paragrafo {
    font-size: 1em;
}