
.box-title {
    padding-left: 10px;
    width: 100vw;
}

h2.title-section {
    font-size: 1.6em;
}

ul > li {
    width: 200px;
}

a > img {
    height: 280px;
    transform: scale(0.9);
}

a>img:hover {
    transform: scale(1);
}

.botton-absoluto {
    display: none;
}

/* FOOTER */

.paragrafo {
    font-size: 1em;
}