
.box-title {
    padding-left: 20px;
    width: 100vw;
}

.section-movie {
   gap: 10px;
}

h2.title-section {
    font-size: 1.5em;
}

ul > li {
    width: 150px;
}

a > img {
    height: 280px;
    transform: scale(0.8);
}


.botton-absoluto {
    display: none;
}

/* FOOTER */

.paragrafo {
    font-size: 1em;
}